.line-item-image {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.order-total {
  td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
  }
}
