$elementSpacing: 15px;
$inputWidth: 60%;
$inputBorderColor: #999;
$inputPadding: 5px;

li.signed-in {
  span {
    display: inline-block;
    padding: 15px;
  }
}

form {
  * {
    display: block;
  }

  label {
    margin-top: $elementSpacing;
  }

  input[type=text] {
    width: $inputWidth;
    border: 1px solid gray;
    padding: $inputPadding;
  }

  input[type=password] {
    width: $inputWidth;
    border: 1px solid $inputBorderColor;
    padding: $inputPadding;
  }

}
